<div class="row">
    <div class="col-md-4">
        <h4>BILLING ADDRESS</h4>
    </div>
    <div class="col-md-4">
        <h4>SHIPPING ADDRESS</h4>
    </div>
    <div class="col-md-4">
        <h4>ORDER SUMMARY</h4>
    </div>
</div>