<div class="row">
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <h4>ORDER SUMMARY</h4>
    <div class="form-group">
      ITEM TOTAL: <%= @order.total_price %><br>
      SHIPPING: <%= @order.total_price %><br>
      ORDER TOTAL: <%= @order.total_price %>
    </div>
  </div>
</div>
