<!DOCTYPE html>
<html>
<head>
  <title>MrBookin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <div id="left">MrBookin</div>
    <div id="center-left">HOME|SHOP</div>
    <div id="center-right">Cart</div>
    <div id="right">Menu</div>
  </div>

<%= yield %>

</body>
</html>
